body {
  font-family: 'Abel', sans-serif;
  line-height: 20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  line-height: 70px;
  font-size: 46px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Abel', sans-serif;
  text-align: center;
  color: #9DA6B6;
  font-size: 30px;
  padding-top: 2em;

}

h3 {
  padding-bottom: 3em;
  font-family: 'Droid Serif', serif;
  text-align: center;
  color: #9DA6B6;
}

a {
  color : #B8CBD1;
  transition: all 0.6s;
  padding-top: 2em;
}

a:hover {
  color : #9DA6B6;
}

a::after {
  content: " ";
}

header {
  min-height: 70vh;
}

.nastyadvert {
  min-height: 70vh;
  color: #9DA6B6;
  background-image: url(images/charlinefacco-sm.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .nastyadvert {
    background-image: url(images/charlinefacco-lg.jpg);
  }
 }

 @media (max-width: 800px) {
   .comp-section-content {
     flex-wrap: wrap;
     justify-content: space-around;   }
  }

.header-content-block {
  background: rgba(11,204,83,0.6);
  padding : 100px;
  text-align: center;
}

header-content-block h1 {
  font-size: 4.25em;
  text-align: center;
  }

#bio {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

#bio h1 {
  display: none;
}

#bio p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #9DA6B6;
}

.bio-content-block {
  max-width: 960px;
  margin: 0 auto;
  columns: 2;
}

#comp {
  background-color: #e0e7ea;
  color : #fff;
}

.comp-section-content {
 display: flex;
 justify-content: center;
}

.comp-content {
  background-color: #fff;
  width : auto;
  margin : 3%;
}

.comp-content p {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #9DA6B6;
}

.comp-content h2 {
  padding-left: 1.3em;
  font-family: 'Abel', sans-serif;
}

.comp-content img {
  width : 100%;
}

.comp-content a {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  float: right;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
}

.portfolio-content-item {
  border: 3px solid #e0e7ea;
  max-width: 480px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h1 {
  font-size: 4.25em;
  text-align: center;
}

.portfolio-content-item h2 {
  position: absolute;
  font-size: 15px;
  bottom : 1%;
  right: 7%;
}

.portfolio-content-item img {
  width : 100%;
}

footer {
  background-color: #e0e7ea;
  font-family: 'Open Sans', sans-serif;
  color: #9DA6B6;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-left: 4em;
  line-height: 40px;
}
